<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>冰海日程管理系统</title>
<link th:href="@{/index_s/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/index_s/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="冰海日程管理系统" />

</head>
<body>
<!-- header -->
<div id="home" class="banner">
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">冰海日程管理系统</span>
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span>
				  </button>
				</div>

			</nav>
		</div>
	</div>
	<div class="header-logo">
		<div class="container">
			<div class="header-logo-info">
				<h1><a href="/login"><img th:src="@{/index_s/images/logo.png}" alt="" /></a></h1>
			</div>
		</div>
	</div>
</div>
<!-- //navigation -->
<!--/header-->

<!--about-->
<div class="about">
	<div class="container">
		<div class="top-text">
				<h3>Welcome To Use IceSea Software</h3>
				<h4>When you feel tension building, find something fun to do. You'll find that the stress you feel will dissipate and your thoughts will become clearer.</h4>
				<p>When you're faced with so many negative and draining situations, realize how minuscule problems will seem when you view your life as a whole--and remember the positive things. </p>
		</div>
	</div>
</div>
</div>
</body>
</html>